fastapi
uvicorn
azure-core
azure-identity
azure-keyvault
azure-keyvault-secrets
azure-search-documents==11.5.2
beautifulsoup4
datasets
jsonschema
langchain
langchain-community
levenshtein
lxml
openai
python-dotenv
sentence-transformers
spacy
textdistance
tiktoken
tqdm
umap-learn
unstructured
fastapi
uvicorn
pydantic
httpx
azure-cosmos
structlog
agent-framework
